<section class="footersection">
  <div class="footer-main">
    <div class="form-footer">
      <p>
        Sign up for early access, news<br>
        and exclusive offers
      </p>
      {% form 'contact' %}
        {{ form.errors | default_errors }}
        <input type="hidden" name="form_type" value="customer">
        <input type="hidden" name="utf8" value="✓">

        <label for="contact_email">Email Address</label>
        <input type="email" id="contact_email" name="contact[email]" placeholder="Your Email" required>
        <div id="spacer"></div>

        <button type="submit" class="btn">Subscribe</button>
      {% endform %}
    </div>

    <div class="footer-links-main">
      <div class="footer-links">
        <span class="pheader">{{ section.settings.footerheading1 }}</span>
        <a class="linka" href="{{ section.settings.footerlink1 }}"><span class="linkclass">{{  section.settings.footerlink1label }}</span></a>
        <a class="linka" href="{{ section.settings.footerlink2 }}"><span class="linkclass">{{  section.settings.footerlink2label }}</span></a>
        <a class="linka" href="{{ section.settings.footerlink3 }}"><span class="linkclass">{{  section.settings.footerlink3label }}</span></a>
      </div>
      <div class="footer-links">
        <span class="pheader">{{ section.settings.footerheading2 }}</span>
        <a class="linka" href="{{ section.settings.footerlink4 }}"><span class="linkclass">{{  section.settings.footerlink4label }}</span></a>
        <a class="linka" href="{{ section.settings.footerlink5 }}"><span class="linkclass">{{  section.settings.footerlink5label }}</span></a>
        <a class="linka" href="{{ section.settings.footerlink6 }}"><span class="linkclass">{{  section.settings.footerlink6label }}</span></a>
      </div>
      <div class="footer-links">
        <span class="pheader">{{ section.settings.footerheading3 }}</span>
        <a class="linka" href="{{ section.settings.footerlink7 }}"><span class="linkclass">{{  section.settings.footerlink7label }}</span></a>
        <a class="linka" href="{{ section.settings.footerlink8 }}"><span class="linkclass">{{  section.settings.footerlink8label }}</span></a>
        <a class="linka" href="{{ section.settings.footerlink9 }}"><span class="linkclass">{{  section.settings.footerlink9label }}</span></a>
      </div>
    </div>
  </div>

  <div class="footer-main2">
    <div class="linksides">
     
      <div id="hr"></div>
      <div class="copyright">
    <span>{{ section.settings.copyrighttext }}</span></div>
      
    </div>

  
  </div>
</section>

{% schema %}
{
  "name": "footer",
  "settings": [

    {
        
      "type": "text",
      "id": "footerheading1",
      "label": " Link Heading 1",
      "default": "Guides"
    },
    {
        "type": "text",
      "id": "footerlink1label",
      "label": " Link Label 1",
      "default": "Home"
    },
    {
        "type": "url",
        "id": "footerlink1",
        "label": "Link 1",
        "default": "/"
    }
    ,
    {
        "type": "text",
      "id": "footerlink2label",
      "label": " Link Label 2",
      "default": "About"
    },
    {
        "type": "url",
        "id": "footerlink2",
        "label": "Link 2",
        "default": "/"
    }
    ,
    {
        "type": "text",
      "id": "footerlink3label",
      "label": " Link Label 3",
      "default": "Contact"
    },
    {
        "type": "url",
        "id": "footerlink3",
        "label": "Link 3",
        "default": "/"
    },
    {
        
        "type": "text",
        "id": "footerheading2",
        "label": " Link Heading 2",
        "default": "Guides"
      },
      {
        "type": "text",
      "id": "footerlink4label",
      "label": " Link Label 4",
      "default": "Home"
    },
    {
        "type": "url",
        "id": "footerlink4",
        "label": "Link 4",
        "default": "/"
    }
    ,
    {
        "type": "text",
      "id": "footerlink5label",
      "label": " Link Label 5",
      "default": "About"
    },
    {
        "type": "url",
        "id": "footerlink5",
        "label": "Link 5",
        "default": "/"
    }
    ,
    {
        "type": "text",
      "id": "footerlink6label",
      "label": " Link Label 6",
      "default": "Contact"
    },
    {
        "type": "url",
        "id": "footerlink6",
        "label": "Link 6",
        "default": "/"
    },
    {
        
        "type": "text",
        "id": "footerheading3",
        "label": " Link Heading 3",
        "default": "Guides"
      },
      {
        "type": "text",
      "id": "footerlink7label",
      "label": " Link Label 7",
      "default": "Home"
    },
    {
        "type": "url",
        "id": "footerlink7",
        "label": "Link 7",
        "default": "/"
    }
    ,
    {
        "type": "text",
      "id": "footerlink8label",
      "label": " Link Label 8",
      "default": "About"
    },
    {
        "type": "url",
        "id": "footerlink8",
        "label": "Link 8",
        "default": "/"
    }
    ,
    {
        "type": "text",
      "id": "footerlink9label",
      "label": " Link Label 9",
      "default": "Contact"
    },
    {
        "type": "url",
        "id": "footerlink9",
        "label": "Link 9",
        "default": "/"
    },
    {
    "type": "text",
    "id": "copyrighttext",
    "label": "CopyRight Text",
    "default": "Designed and developed in New York City. P.O Box 20257 Greeley Square Station 4 East 27th street New York, NY90- © 2024. All Rights Reserved."
    },
    {
        
        "type": "text",
        "id": "copyrightlink1",
        "label": " Copyright Link 1",
        "default": "Link"
      }
      ,
    {
        
        "type": "text",
        "id": "copyrightlink2",
        "label": " Copyright Link 2",
        "default": "Link"
      },
      {
          
          "type": "text",
          "id": "copyrightlink3",
          "label": " Copyright Link 3",
          "default": "Link"
        },
        {
            
            "type": "text",
            "id": "copyrightlink4",
            "label": " Copyright Link 4",
            "default": "Link"
          },
          {
              
              "type": "text",
              "id": "copyrightlink5",
              "label": " Copyright Link 5",
              "default": "Link"
            }
  ],
  "presets": [
    {
      "name": "footer"
    }
  ]
}
{% endschema %}
